  <header>
    <nav class="navbar navbar-light bg-light">
    <%= render "nav" %>
    <%= link_to 'Back', root_path, :class => 'btn btn-outline-info' %>
    </nav>
  </header>
  <br>

<h1 class = "col-md-3">Edit Your Post</h1>

<%= form_with(model: @post, local: true) do |form| %>

 <% if @post.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@post.errors.count, "error") %>
            prohibited this post from being saved:
        </h2>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

  <div class="input-block col-md-3">
    <%= form.text_field :title, :class => 'form-control', :placeholder => 'Post Title' %>
  </div> <br>
  <div  class="input-block col-md-3">
    <%= form.text_area :description, :class => 'form-control', :placeholder => 'Post description here' %>
  </div> <br>
  <div class="input-block col-md-3">
    <%= form.text_field :url, :class => 'form-control', :placeholder => 'Post URL' %>
  </div> <br>
  <div  class="input-block col-md-3">
  <%= form.submit "Update Post", :class => "btn btn-outline-success" %>
  </div>



<% end %>