<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>breddit</title>
  </head>
  
  <body>
  <%= render "header_and_login" %>
    
<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path %><br>

<div class="card" style="width: 18rem;">
<span class="float-left"></span>
  <% @posts.each do |post| %>
  <img class="card-img-top" src="https://imgix.ranker.com/user_node_img/76/1512068/original/mantis-shrimp-u1?w=650&q=50&fm=jpg&fit=crop&crop=faces" alt="card-img">
  <div class="card-body">
    <h5 class="post-title"><%= link_to post.title, post_path(post) %></h5>
    <p class="post-text"><%= post.description%></p>
    <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_post_path(post) %></button>
    <button type="button" class="btn btn-primary"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Created by: <%= User.find(post.user_id).username %></li>
    <li class="list-group-item">Total # of Comments: <%= post.comments.length %></li>
    <li class="list-group-item">Votes Score: <%= post.votes.map{|vote| vote.vote_value}.inject(:+) %></li>
    <li class="list-group-item">Place URL here: <%= post.url %></li>
  </ul> 
</div>
<% end %>

<%# <%= post.url %> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>