<h1>New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@post.errors.count, "error") %>
                prohibited this post from being saved:
            </h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :url %><br>
        <%= form.text_field :url %>
    </p>

    <%= form.hidden_field :user_id, :value => current_user.id %>

    <p>
        <%= form.submit %>
    </p>

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path %>

<% end %>
