<h1 class = "input-block col-md-3">New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@post.errors.count, "error") %>
                prohibited this post from being saved:
            </h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="input-block col-md-3">
    <%= form.text_field :title, :class => 'form-control', :placeholder => 'Post Title' %>
  </div> <br>
  <div  class="input-block col-md-3">
    <%= form.text_area :description, :class => 'form-control', :placeholder => 'Post description here' %>
  </div> <br>
  <div class="input-block col-md-3">
    <%= form.text_field :url, :class => 'form-control', :placeholder => 'Post URL' %>
  </div> <br>
  <div  class="input-block col-md-3">
  <%= form.submit "Create Post", :class => "btn btn-outline-success" %>
  </div> <br>
  <div  class="input-block col-md-3">
  <%= link_to 'Back', posts_path, :class => "btn btn-outline-info" %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>



<% end %>
