<<<<<<< HEAD
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">breddit</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
</nav>





session: <%= session[:user_id] %><br>
=======
<div class="jumbotron">
<h1>breddit</h1>
<% session[:user_id] %><br>
>>>>>>> dev
<% if current_user %>
<div class="row">
  <div class="col-sm-3"><h3>Welcome <%= current_user.username %>!</h3></div>
  <div class="col-sm-2"><%= link_to "Log Out", session_path(session), method: :delete, :class => "btn btn-outline-info" %></div>
  <div class="col-sm-7"></div>
  </div>
<% else %>
<<<<<<< HEAD
  <%= link_to "register new account", new_user_path %>
  
  <h5>Login</h5>
  
  <%= form_with url: session_index_path(session), local: true do |form| %>

  <form class="form-inline" action="/action_page.php">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>

    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<% end %>
<% end %>
=======
  <%= form_with url: session_index_path(session), local: true do |form| %>


<div class="row">
  <div class="col-sm-4">
  <%= form.label :username %>
  <%= form.text_field :username %>
  </div>
  <div class="col-sm-4">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="col-sm-2">
  <%= form.submit "Log In", :class => "btn btn-outline-info"%>
  </div>
  <div class="col-sm-2">
  <%= link_to 'Sign Up', new_user_path, :class => "btn btn-outline-info" %>
  </div>
</div>


  <% end %>
<% end %>
</div>
>>>>>>> dev
